<h1>BURGERS!</h1>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Burgers that I'm ready to eat:</h2>

      <ul>
        {{#each burger}}
          {{#unless devoured}}
            {{> burger/burger-block devoured=true}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-md-6">
      <h2>Burgers that I've eaten:</h2>

      <ul>
        {{#each burger}}
          {{#if devoured}}
            {{> burger/burger-block devoured=false}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<br>

<div class="container">
  <h2>Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="burg">Burger Name:</label>
      <input type="text" id="burg" name="burger_name">
    </div>

    <button type="submit" id="adding-burger">Add Burger</button>
</form>
</div>


